# Tokenized binary dataset & cache files
*.bin
shards/
shards_edu/

# Model Weights & Checkpoints
*.pth
*.pt
*.safetensors
accelerate_checkpoint/
*.tar.gz
*.tar

# Training Logs & Outputs
logs/
wandb/
*.csv

# Archives
archives/

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/

# Generated dependency locks
requirements.lock
uv.lock

# Notebooks
*.ipynb
.ipynb_checkpoints/
TEMP.md
